{% extends "base.html" %}
{% load static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/task3.js' %}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
  <link href="{% static 'css/util.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="column is-two-thirds">
      <h1 class="title">Task 1</h1>
      <hr><br>
      <div>
        <h2 class="title">#3</h2>
        <h3>Choose a task:</h3>
        <br>
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-primary">Random</button>
            <button class="button is-primary" sleep_time="1">Short</button>
            <button class="button is-primary" sleep_time="2">Medium</button>
            <button class="button is-primary" sleep_time="3">Long</button>
          </p>
        </div>
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-primary" sleep_time="1">Random</button>
            <button class="button is-primary" sleep_time="1">Short</button>
            <button class="button is-primary" sleep_time="2">Medium</button>
            <button class="button is-primary" sleep_time="3">Long</button>
          </p>
        </div>
      </div>
      <br><br>
      <div id="task_result_table">

      </div>

    </div>
  </div>
</section>
{% endblock %}
