{% extends "base.html" %}
{% load static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/task1.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/task1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <section class="section">
      <div class="column">
        <h1 class="title">Task 1</h1>
        <hr>
        <br>
        <div>
          <h2 class="title">#1</h2>
          <h3>Choose a task:</h3>
          <br>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary">Nomal</button>
              <button class="button is-primary" sleep_time="2">Short</button>
              <button class="button is-primary" sleep_time="4">Medium</button>
              <button class="button is-primary" sleep_time="6">Long</button>
            </p>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary">&nbsp;Celery</button>
              <button class="button is-primary celery" sleep_time="2">Short</button>
              <button class="button is-primary celery" sleep_time="4">Medium</button>
              <button class="button is-primary celery" sleep_time="6">Long</button>
            </p>
          </div>
        </div>
        <br><br>
        <div id="task_result_table"></div>
      </div>
    </section>
  </div>
{% endblock %}
